/*--HEADER --*/
.header {
  background-color: #ffffff;
}

.header_container {
  width: 1200px;
}

.header_connect {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.header_list {
  display: flex;
  margin: 0px;
  margin-left: 93px;
  padding: 0px;
}

.header-link_logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list_item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 50px;
}

.header-list_item:first-child {
  margin-left: 0px;
}

.header-list_item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-connet_link-icon {
  fill: currentColor;
  padding: 0px;
  margin-right: 10px;
}

.header-connect_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect_link:last-child {
  margin-left: 30px;
}

.header-connect_link:hover, .header-connect_link:focus {
  color: var(--accent-color);
}

.header-link-list:hover, .header-link-list:focus {
  color: var(--accent-color);
}

.header-link_logo-first {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

/*--HERO--*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../mode-1/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin: 0 auto;
}

.hero_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  justify-content: center;
  min-height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  color: var(--first-button-color);
  background-color: #2196f3;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
}

.about {
  background-color: #ffffff;
  padding-top: 94px;
}

.about__list {
  display: flex;
}

.about-list__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
  margin: 0 auto;
  margin-right: 30px;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.about-list__item:last-child {
  margin-right: 0px;
}

.about-list__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.about-list__item-icon-link {
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.about-icon-item:last-child {
  margin-right: 0px;
}

/*--WORK--*/
.work {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.work_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work_list {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

.work-list_item {
  margin-right: 30px;
  position: relative;
}

.work-list_item:last-child {
  margin-right: 0px;
}

.work-list_item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  align-items: center;
  color: var(--first-text-color);
}

.work-list_item-box {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  justify-content: center;
}

/*--COMMAND--*/
.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-text-color);
}

.command-list-item-box__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--second-title-color);
}

.command__list {
  display: flex;
  padding: 0px;
}

.command-list__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 30px;
  color: var(--third-text-color);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command-list__item:last-child {
  margin-right: 0px;
}

.command-list__item-text {
  font-style: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.command-list__item-box {
  padding: 30px 0px;
}

.command-list__social {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.command-list__social-item {
  width: 44px;
  height: 44px;
}

.command-list__social-item + .command-list__social-item {
  margin-left: 10px;
}

.command-list-social__item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-list-social__item-link:hover, .command-list-social__item-link:focus {
  background-color: var(--second-button-color);
  color: var(--first-button-color);
}

.command-list-social__item-icon {
  fill: currentColor;
}

/*-- clients --*/
.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container {
  width: 1200px;
}

.clients__item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-title-color);
}

.clients__social-list {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.clients-social-list__item {
  width: 170px;
  height: 92px;
}

.clients-social-list__item + .clients-social-list__item {
  margin-left: 30px;
}

.clients-social-list__item-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
}

.clients-social-list__item-link:hover, .clients-social-list__item-link:focus {
  border: 1px solid #2196f3;
  background-color: transparent;
  color: var(--second-button-color);
}

.clients-social-list-item__link-icon {
  fill: currentColor;
}

/*---CONTACS--*/
.contacs {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.contacs-container {
  display: flex;
  align-items: baseline;
}

.contacs__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.contacs__list {
  margin-top: 20px;
}

.contacs-list__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 9px;
}

.contacs-list__item:last-child {
  margin: 0px;
}

.contacs-list__item-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
}

.contacs-list__item-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: #ffffff;
}

/*--CONNECT--*/
.footer {
  margin-left: 70px;
}

.footer__item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--first-text-color);
}

.footer__list-social {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.footer-list-social__item {
  width: 44px;
  height: 44px;
}

.footer-list-social__item + .footer-list-social__item {
  margin-left: 10px;
}

.footer-list-social__item-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social__item-link:hover, .footer-list-social__item-link:focus {
  background-color: var(--second-button-color);
  color: var(--first-button-color);
}

.footer-list-social__item-icon {
  fill: currentColor;
}

/*-- MODEL  --*/
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  padding: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #9999;
  border-radius: 50%;
  justify-content: center;
  color: black;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal_close:hover, .modal_close:focus {
  color: var(--second-button-color);
  background-color: transparent;
  border: 1px solid #2196f3;
}

.modal_close-icon {
  fill: currentColor;
}

.modal_title {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form_feeld-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--third-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form_feeld {
  margin-bottom: 10px;
}

.modal-form_comment {
  margin-bottom: 20px;
}

.modal-comment_text {
  margin-bottom: 30px;
}

.modal-form_wrap-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_wrap-input:hover, .modal-form_wrap-input:focus {
  border-color: var(--second-button-color);
}

.modal-form_wrap-input:focus + .input-icon {
  fill: var(--second-button-color);
}

.modal-form_wrap-input:hover + .input-icon {
  fill: var(--second-button-color);
}

.modal_button {
  min-height: 50px;
  width: 200px;
  background-color: var(--second-button-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  color: var(--first-button-color);
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
}

.modal-comment_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--third-text-color);
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding: 12px 16px;
  resize: none;
}

.modal-comment_check-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  color: var(--header-link-color);
  justify-content: center;
}

.modal-comment_check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 5px;
  border-radius: 2px;
  justify-content: center;
}

.modal-comment_check:checked + .modal-comment_check-text span {
  background-color: var(--second-button-color);
  border: none;
}

.modal-form_wrap-icon {
  position: absolute;
  transform: translateY(50%);
  left: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_wrap {
  position: relative;
}

.modal-comment_icon-check {
  fill: var(--first-button-color);
}

.usage-policy {
  color: var(--fourth-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-decoration: underline;
}

/*--footer-subscription--*/
.subscription {
  margin: 72px 0px 0px 93px;
}

.subscription_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}

.subscription_input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription_button {
  min-height: 50px;
  width: 200px;
  background-color: var(--second-button-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.875;
  color: var(--first-button-color);
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  margin-left: 12px;
}

.subscription_buttom-icon {
  fill: currentColor;
  margin-left: 10px;
}

.subscription_contaner {
  display: flex;
}

:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;
  --first-text-color: #ffffff;
  --second-text-color: #2121ss1;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --header-text-color: #212121;
  --header-link-color: #757575;
  --accent-color: #2196f3;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", Roboto;
}

.list {
  list-style-type: none;
}

p, a, h1, h2, h3, h4, h5 {
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.current::after {
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-button-color);
  position: absolute;
  left: 0;
  bottom: -33px;
}

.header_container, .header_navigation, .header-connect_link, .hero_container, .hero_button, .about-list__item-icon-link, .work-list_item-box, .command-list-social__item-link, .clients-social-list__item-link, .footer-list-social__item-link, .modal_close, .modal_button, .modal-comment_check-text, .modal-comment_check-text span, .subscription_button {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */