/*--HEADER --*/
.header {
    background-color: #ffffff;
    .header-list__text--current::after {
      content: " ";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--second-button-color);
      position: absolute;
      left: 0;
      bottom: -33px;
    }
    .header__container{
    display: flex;
    align-items: center;
    width: 1200px;
  }
    .header__navigation {
      @extend %align-list;
    }
    .header-connect {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
    }
    .header-list {
      display: flex;
      margin: 0px;
      margin-left: 93px;
      padding: 0px;
      
      }
    .logo {
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--header-text-color);
        padding-top: 24px;
        padding-bottom: 25px;
      }
    .header-list__item {
        padding-top: 32px;
      padding-bottom: 32px;
      margin-left: 50px;
      &:first-child{
        margin-left: 0px;
      }
    }
    .header-list__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--second-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
      }
    
    .header-connet__icon {
      fill: currentColor;
      padding: 0px;
      margin-right: 10px;
      }
      .header-connect__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-link-color);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          @extend %align-list;
         &:last-child{
          margin-left: 30px;
        }
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
      }
      .header-list__item-text:hover,
      .header-list__item-text:focus {
      color: var(--accent-color);
      }
      .logo__first {
        font-family: Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--fourth-text-color);
        }
      .header-connect__link:hover,
      .header-connect__link:focus {
      color: var(--accent-color);
      }
    }

  
  
  
  
  
  
  
  

  
  
  
  
  