/*--footer-subscription--*/
.subscription{

    margin: 72px 0px 0px 93px;
    .subscription__title{
      font-weight: 700;
      font-size: 16px;
      line-height: 1.17;
       text-align: left;
        margin-bottom: 20px;
      color: rgba(255, 255, 255, 1);
    }
    .subscription__input{
      width: 358px;
      height: 50px;
      padding-left: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscription__button{
      min-height: 50px;
    width: 200px;
    background-color: var(--second-button-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.875;
    color: var(--first-button-color);
    text-align: center;
    @extend %align-list;
    justify-content: center;
    border-radius: 4px;
    margin-left: 12px;
    }
    .subscription__buttom-icon{
      fill: currentColor;
      margin-left: 10px;
    }
    .subscription__contaner{
      display: flex;
    }
  }
    
    
    
    
    