/*--WORK--*/
.work {
    background-color: #ffffff;
    padding-top: 94px;
    padding-bottom: 94px;
    &_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }
    &_list {
      display: flex;
      margin: 0 auto;
      padding: 0px;
    }
    
    &-list_item {
      margin-right: 30px;
      position: relative;
      &:last-child {
        margin-right: 0px;
        }
        &-text {
          font-weight: 700;
          font-size: 14px;
          line-height: 1.17;
          align-items: center;
          color: var(--first-text-color);
          
          }
          &-box{
            position: absolute;
            width: 370px;
            height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
            bottom:0px;
            @extend %align-list;
            justify-content: center
            }
    }
    
  }
  
  
  
  
  
  
  
  